<%- include('./partials/header') %>

<!-- all posts  -->
<div class="text-white">
  <div class="flex justify-between mb-12 mt-12 text-center">
    <h1 class="text-3xl">Latest Community Posts</h1>
  </div>
  <%if(post.length > 0){%>

  <div class="grid grid-cols-4 gap-7 w-full text-white">
    <%post.reverse().forEach((postItem)=>{%>
    <a href="/post/<%=postItem._id%>">
      <div class="h-96">
        <img
          class="w-full h-[40%] rounded-lg object-cover"
          src="<%=postItem.banner%>"
          alt=""
        />
        <div class="flex flex-col gap-4 py-5">
          <div class="flex gap-6 items-center">
            <div class="flex gap-3 items-center">
              <div
                class="profileNav w-8 h-8 rounded-full bg-white object-cover overflow-hidden"
              >
                <img
                  src="<%=postItem.user.profileImage%>"
                  alt=""
                  class="object-cover"
                />
              </div>
              <h1 class="text-purple-300 text-md">
                <%=postItem.user.email.split('.')[0]%> •
              </h1>
            </div>

            <small class="text-zinc-400 text-[12px]">3 hours ago</small>
          </div>
          <h1 class="text-xl text-white overflow-hidden whitespace-nowrap">
            <%=(postItem.heading).slice(0,23)%>..
          </h1>
          <h1 class="h-12"><%=(postItem.desc).slice(0,60)%>...</h1>
          <div class="flex gap-3 items-center items-end">
            <!-- <h1
          class="text-purple-200 px-5 py-1 border border-purple-400 bg-purple-900 rounded-3xl"
        >
          Sports
        </h1> -->
            <small class="text-zinc-400">4 mins read</small>
          </div>
        </div>
      </div>
    </a>

    <%})%>
  </div>

  <%} else{%>
  <h1 class="w-full text-xl text-white">
    No post has been uploaded till yet..
  </h1>
  <%}%>
</div>
<%- include('./partials/footer') %>
