<%- include('./partials/header') %>
<div class="flex justify-between mb-12 mt-12 text-center text-white">
  <h1 class="text-3xl">Follow our Creators</h1>
</div>
<!-- quote  -->
<div class="grid grid-cols-3 gap-5 mt-12">
  <%user.forEach((user)=>{%>

  <div
    class="bg-zinc-800 w-full h-[15vh] rounded-xl flex gap-6 items-center justify-between px-3"
  >
    <div class="flex gap-4 items-center">
      <img
        src="https://i.pinimg.com/564x/cd/ef/93/cdef93d85bbc0ad6159a2d3f5d59d51c.jpg"
        alt=""
        class="w-[70px] h-[70px] bg-white rounded-full border border-purple-500 border-[3px] overflow-hidden object-cover"
      />
      <div class="text-white flex flex-col gap-1">
        <h1 class="text-xl"><%=user.name%></h1>
        <h1 class="text-sm text-zinc-400"><%=user.email%></h1>
      </div>
    </div>
    <%if(user.name != currentUser.name){%>
    <div
      class="me-3 w-12 h-12 rounded-full <%= ['bg-purple-500', 'bg-red-500', 'bg-pink-500'][Math.floor(Math.random() * 3)] %> flex items-center justify-center"
    >
      <span class="material-symbols-rounded text-white text-3xl"> add </span>
    </div>
    <% }else{%>

    <div
      class="me-3 w-12 h-12 rounded-full bg-white flex items-center justify-center"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/6928/6928921.png"
        alt=""
      />
    </div>

    <%}%>
  </div>

  <%})%>
</div>
<%- include('./partials/footer') %>
